.entries {
  padding: 4em;
}
mat-card + mat-card {
  margin-top: 2em;
}
mat-card-title {
  padding: 0 1em;
}
.empty-list {
  justify-content: center;
  align-items: center;
  display: flex;

  color: #c0c0c0;
  font-size: 48px;
}
