<div class="entries">
  <ng-container *ngIf="entries && entries.length > 0; else empty_list">
    <mat-card *ngFor="let entry of entries">
      <mat-card-title>
        <h2>{{ entry.title }}</h2>
      </mat-card-title>
      <mat-card-subtitle>
        <app-date-line [date]="entry.createdAt"></app-date-line>
      </mat-card-subtitle>
      <mat-card-content [innerHTML]="entry.htmlTeaser"></mat-card-content>
      <mat-card-actions>
        <a [routerLink]="['/', entry.id]" mat-stroked-button color="primary">
          <mat-icon>menu_book</mat-icon>
          Read
        </a>
      </mat-card-actions>
    </mat-card>
  </ng-container>
  <ng-template #empty_list>
    <div class="empty-list">
      <mat-icon inline="true">error_outline</mat-icon>
      <p>Error</p>
    </div>
  </ng-template>
</div>
