@use "@angular/material" as mat;

$blog-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$violet-palette,
    ),
    density: (
      scale: -1,
    ),
  )
);

html {
  color: mat.get-theme-color($blog-theme, on-surface);
  background-color: mat.get-theme-color($blog-theme, surface-dim);
  @include mat.all-component-themes($blog-theme);
}

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Backported classes from tailwind

.flex {
  display: flex;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-auto {
  flex: 1 1 auto;
}

.gap-2 {
  gap: 0.5rem;
}
.w-100 {
  width: 100%;
}
